In [20]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#https://ipython.org/ipython-doc/3/interactive/tutorial.html#magic-functions

In [21]:
bankdata = pd.read_csv("bill_authentication.csv")
bankdata.shape

(1372, 5)

In [22]:
bankdata.head()
bankdata.dtypes

Variance    float64
Skewness    float64
Curtosis    float64
Entropy     float64
Class         int64
dtype: object

In [23]:
X = bankdata.drop('Class', axis=1) # drops Class column and store into X
y = bankdata['Class'] # store Class into y

In [24]:
X.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [25]:
X.shape
X.dtypes

Variance    float64
Skewness    float64
Curtosis    float64
Entropy     float64
dtype: object

In [26]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [33]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20)
y_train

432     0
355     0
475     0
1315    1
463     0
       ..
781     1
1020    1
809     1
357     0
429     0
Name: Class, Length: 1097, dtype: int64

In [29]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [30]:
X_train

      Variance  Skewness  Curtosis  Entropy
1183  -3.57410   3.94400  -0.07912 -2.12030
582    4.05520   0.40143   1.45630  0.65343
415    3.80230  -3.86960   4.04400  0.95343
982   -3.51800   2.87630   0.15480 -1.20860
403    3.08640  -2.58450   2.23090  0.30947
...        ...       ...       ...      ...
50     4.32390  -4.88350   3.43560 -0.57760
343    0.66018  10.38780  -1.40290 -3.91510
132    2.01390   6.14160   0.37929  0.56938
772   -2.41150  -9.13590   9.34440 -0.65259
769   -0.89409   3.19910  -1.82190 -2.94520

[1097 rows x 4 columns]

In [31]:
X_train.head()

      Variance  Skewness  Curtosis  Entropy
1183   -3.5741   3.94400  -0.07912 -2.12030
582     4.0552   0.40143   1.45630  0.65343
415     3.8023  -3.86960   4.04400  0.95343
982    -3.5180   2.87630   0.15480 -1.20860
403     3.0864  -2.58450   2.23090  0.30947

In [19]:
X_test

      Variance  Skewness  Curtosis  Entropy
160   5.045200   3.89640  -1.43040  0.86291
175   3.583000  -3.79710   3.43910 -0.12501
271   5.391500   9.99460  -3.80810 -3.36420
584   0.335650   6.83690   0.69718 -0.55691
726   0.040498   8.52340   1.44610 -3.93060
...        ...       ...       ...      ...
894  -1.839100  -9.08830   9.24160 -0.10432
736  -0.705600   8.72410   2.22150 -4.59650
1371 -2.541900  -0.65804   2.68420  1.19520
1260 -3.000000  -9.15660   9.57660 -0.73018
811  -0.863390   1.93480  -2.37290 -1.08970

[275 rows x 4 columns]

In [21]:
y_train

806     1
880     1
190     0
966     1
1181    1
       ..
838     1
900     1
1270    1
171     0
394     0
Name: Class, Length: 1097, dtype: int64

In [23]:
y_train.shape

(1097,)

In [24]:
y_test

160     0
175     0
271     0
584     0
726     0
       ..
894     1
736     0
1371    1
1260    1
811     1
Name: Class, Length: 275, dtype: int64

In [25]:
y_test.shape

(275,)

In [18]:
y_pred = svclassifier.predict(X_test)

In [10]:
y_pred.shape

(275,)

In [16]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1])

In [30]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[158   2]
 [  1 114]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       160
           1       0.98      0.99      0.99       115

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275