In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#https://ipython.org/ipython-doc/3/interactive/tutorial.html#magic-functions

In [2]:
bankdata = pd.read_csv("bill_authentication.csv")
bankdata.shape

(1372, 5)

In [3]:
bankdata.head()

   Variance  Skewness  Curtosis  Entropy  Class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [4]:
X = bankdata.drop('Class', axis=1) # drops Class column and store into X
y = bankdata['Class'] # store Class into y

In [13]:
X.head()

   Variance  Skewness  Curtosis  Entropy
0   3.62160    8.6661   -2.8073 -0.44699
1   4.54590    8.1674   -2.4586 -1.46210
2   3.86600   -2.6383    1.9242  0.10645
3   3.45660    9.5228   -4.0112 -3.59440
4   0.32924   -4.4552    4.5718 -0.98880

In [14]:
X.shape

(1372, 4)

In [6]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Class, dtype: int64

In [15]:
y.shape

(1372,)

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.20)

In [8]:
from sklearn.svm import SVC
svclassifier = SVC(kernel='linear')
svclassifier.fit(X_train,y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=None,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
X_train

      Variance  Skewness   Curtosis   Entropy
806   -6.20030   8.68060   0.009134 -3.703000
880   -2.35180  -4.83590   6.647900 -0.060358
190    0.92970  -3.79710   4.642900 -0.295700
966    0.48797   3.56740  -4.388200 -3.811600
1181  -3.58950  -6.57200  10.525100 -0.163810
...        ...       ...        ...       ...
838   -2.32110   3.16600  -1.000200 -2.715100
900   -0.65767  -2.80180   3.711500  0.997390
1270  -0.74324  -0.32902  -0.427850  0.233170
171    4.05520  -2.45830   2.280600  1.032300
394   -2.26230  12.11770   0.288460 -7.758100

[1097 rows x 4 columns]

In [27]:
X_train.head()

      Variance  Skewness   Curtosis   Entropy
806   -6.20030    8.6806   0.009134 -3.703000
880   -2.35180   -4.8359   6.647900 -0.060358
190    0.92970   -3.7971   4.642900 -0.295700
966    0.48797    3.5674  -4.388200 -3.811600
1181  -3.58950   -6.5720  10.525100 -0.163810

In [19]:
X_test

      Variance  Skewness  Curtosis  Entropy
160   5.045200   3.89640  -1.43040  0.86291
175   3.583000  -3.79710   3.43910 -0.12501
271   5.391500   9.99460  -3.80810 -3.36420
584   0.335650   6.83690   0.69718 -0.55691
726   0.040498   8.52340   1.44610 -3.93060
...        ...       ...       ...      ...
894  -1.839100  -9.08830   9.24160 -0.10432
736  -0.705600   8.72410   2.22150 -4.59650
1371 -2.541900  -0.65804   2.68420  1.19520
1260 -3.000000  -9.15660   9.57660 -0.73018
811  -0.863390   1.93480  -2.37290 -1.08970

[275 rows x 4 columns]

In [21]:
y_train

806     1
880     1
190     0
966     1
1181    1
       ..
838     1
900     1
1270    1
171     0
394     0
Name: Class, Length: 1097, dtype: int64

In [23]:
y_train.shape

(1097,)

In [24]:
y_test

160     0
175     0
271     0
584     0
726     0
       ..
894     1
736     0
1371    1
1260    1
811     1
Name: Class, Length: 275, dtype: int64

In [25]:
y_test.shape

(275,)

In [18]:
y_pred = svclassifier.predict(X_test)

In [10]:
y_pred.shape

(275,)

In [16]:
y_pred

array([0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1])

In [30]:
from sklearn.metrics import classification_report, confusion_matrix
print(confusion_matrix(y_test,y_pred))
print(classification_report(y_test,y_pred))

[[158   2]
 [  1 114]]
              precision    recall  f1-score   support

           0       0.99      0.99      0.99       160
           1       0.98      0.99      0.99       115

    accuracy                           0.99       275
   macro avg       0.99      0.99      0.99       275
weighted avg       0.99      0.99      0.99       275